#detalii {
	position:static;
	padding: 50px;
	height: 350px;
	background-color: gray;
	border-style: solid;
}
#svg-el {
	margin: 0;
	position: absolute;
	top: 60%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

span {
	font-size: 18px;
}

iframe {
	display: block;
	margin: auto;
	border-style: solid;
	border-color: red;
	border-width: 5px;
}