#detalii {
	position:static;
}
#svg-el {
	display: block;
	margin: auto;
}

#bottom-section {
	font-size: 18px;
	padding: 30px;
	position: relative;
	background-color: gray;
	border-style: solid;
}

iframe {
	display: block;
	margin: auto;
	border-style: solid;
	border-color: red;
	border-width: 5px;
}